<!DOCTYPE html>
<html lang="pt-br" class="no-js">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include shared-footer.html %}
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", function(user) {
          if (!user) {
            window.netlifyIdentity.on("login", function() {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
